.App {
  text-align: center;
  /* background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/170407220921-07-iconic-mountains-pitons-restricted.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.test {
  font-size: 2em;
  color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
